<!-- book#new -->

<h1>人となりBook新規作成ページ</h1>

<%= form_for @book do |f| %>
  <%= f.label :name, 'Book Name' %>
  <%= f.text_field :name %>
  <%= f.label :book_photo, 'Book Photo' %>
  <%= f.text_field :book_photo %>
  <!-- 閲覧対象範囲をあとで付け足す（全体or友達or自分のみ） -->

  <%= f.submit '次へ' %>
  <!-- new_names_base_periods_pathにリンク -->
<% end %>

<%= link_to 'トップに戻る', root_path %>