<h1>id: <%= @book.id %> の人となりBook詳細ページ</h1>

<p><%= @book.name %></p>
<img class="media-object img-rounded" src="<%= @book.book_photo %>" alt="">

<%= link_to 'トップに戻る', toppages_path %>
<%= link_to 'このBookを編集する', edit_book_path(@book) %>