<% if logged_in? %>
<!-- ログイン完了後トップページ -->
  <p>ログイン完了ユーザ: <%= current_user.name %></p>

<% else %>
<!-- ログイン前トップページ -->  
  <div class="container-fluid">
    <div class="row">
      <div class="main-image col-md-8">
        <!-- あとで画像整える -->
        <img src="assets/book_img1.jpg">
        <h3>人をもっと好きになる</h3>
        <h1>人となりBook</h1>  
      </div>
      <div class="main-right col-md-4">
        <p>人となりBookをはじめよう</p>
        <%= link_to 'アカウント作成', signup_path, class: 'btn btn-primary' %>
        <%= link_to 'ログイン', login_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="for-what" >
        <div class="col-xs-6 col-md-3">
          <h3>友達同士で</h3>
          <p>ほげほげ</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h3>仕事仲間で</h3>
          <p>ほげほげ</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h3>初めましてに</h3>
          <p>ほげほげ</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h3>自己分析に</h3>
          <p>ほげほげ</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">  
    <div class="row">
      <div class="text-center">
        <h3>人となりBookをはじめよう</h3>
          <%= link_to 'アカウント作成', signup_path, class: 'btn btn-primary' %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-info' %>
      </div>
    </div>
  </div>
  
<% end %>