<!-- base_periods#new_contents -->

<div class="container contents-wrapper">
  <h2>それぞれどんな時期だったか、印象的な出来事などをまとめてみよう</h2>
  
  <!-- ユーザーが入力したbase_period.nameの数だけ繰り返し入力する-->
  <%= form_for(@base_period) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <%= f.label :content, 'Period1' %>
    <%= f.text_field :content %>
    <%= hidden_field_tag :book_id, @base_period.book.id %>
  
  
    <%= f.submit '次へ' %>
    <!-- new_whole_answer_pathにリンク -->
  <% end %>
  
  <%= link_to 'トップに戻る', root_path %>
</div>