<!-- whole_answers#new -->

<div class="container contents-wrapper">
  <h2><%= @whole_question.content %></h2>
  
  
  <p><%= @whole_question.detailed_questions[0].content %></p>
  <p><%= @whole_question.detailed_questions[1].content %></p>
  
  <%= form_for(@whole_answer, url: {action: :create}) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <%= f.hidden_field :whole_question_id %>
    
  <!-- base_periodをユーザーが登録したbase_periodの中からプルダウン選択してもらう-->  
    <%= f.fields_for :periods, @whole_answer.periods do |pd| %>
      <%= pd.collection_select :base_period_id, @base_periods, :id, :name %>
    <% end %>
  
  <!-- detailed_answersの登録-->    
    <%= f.fields_for :detailed_answers, @whole_answer.detailed_answers do |da| %>
      <%= da.text_field :content %>
      <%= da.hidden_field :detailed_question_id %>
    <% end %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= f.submit '次へ' %>
    <!-- new_whole_answer_pathの次のにリンク（必要なだけ） -->
  <% end %>
  
  
  <%= link_to 'トップに戻る', root_path %>
</div>
