<!DOCTYPE html>
<html lang="ja">
<head>

	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<title>Progressus - Free business bootstrap template by GetTemplate</title>
	<%= csrf_meta_tag %>

	<link rel="shortcut icon" href="../assets/images/gt_favicon.png">
	
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/stylesheets/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../assets/stylesheets/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../assets/stylesheets/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="../assets/javascripts/html5shiv.js"></script>
	<script src="../assets/javascripts/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">
	
<%= render 'layouts/navbar' %>
<%= render 'layouts/flash_messages' %>
  
    <%= yield %>
	


	<footer id="footer" class="top-space">

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<%= link_to 'Top', root_path %>| 
								<%= link_to 'アカウント作成', signup_path %>| 
								<%= link_to 'ログイン', login_path %>| 
								<%= link_to 'Contact', root_path %>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2019, Chika Ono. Designed by <a href="http://gettemplate.com/" rel="designer">gettemplate</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../assets/javascripts/headroom.min.js"></script>
	<script src="../assets/javascripts/jQuery.headroom.min.js"></script>
	<script src="../assets/javascripts/template.js"></script>
</body>
</html>